* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.video-card {
  margin-bottom: 0.75 rem;
  cursor: pointer;
}
.video-card:hover {
  background-color: lightgray;
}
.card-footer-container {
  padding: 0.5rem;
  display: flex;
}
.video-thumbnail {
  width: 100%;
}
.card-footer-container {
  display: flex;
  flex: wrap;
}
.video-metadata-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.video-author-img-container {
  margin: 0 1rem;
}
.video-author-img-container img {
  border-radius: 100%;
}
.dot-v1 {
  height: 0.4rem;
  width: 0.4rem;
  background-color: grey;
  border-radius: 100%;
}
aside {
  display: none;
}

header {
  display: none;
}

@media (width>=500px) {
  .layout-container {
    display: grid;
    grid-template-columns: 15rem 1fr;
  }

  #root {
    padding: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  aside {
    display: block;
    background-color: grey;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  header {
    display: block;
    background-color: lightgrey;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.search-container {
  display: flex;
  width: 70%;
  height: 30%;
  position: relative;
}
.search-container input {
  flex-grow: 1;
  padding: 0.7rem 1.25rem;
  border-top-left-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
}
.search-container button {
  padding: 0.7rem 1.25rem;
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}

#search-suggestion-container{
  position: absolute;
  background-color:aliceblue;
  width: 90%;
  top: 3rem;
  left: 0.5rem;
  display: flex;
  flex-direction: column;
  padding: 0.75rem;
  border-bottom-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}

#search-suggestions-container p{
  border-bottom: 1px solid lightgrey;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

#search-suggestions-container p:hover{
  background-color: antiquewhite;
}